@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* regular font */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
  display: flex;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color:#fff ;
    padding:20px 25px ;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
.btn-primary:hover{
    background: #727272;
}
/* header section */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.item {
  list-style: none;
  margin-right: 30px;
}
.item .nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}
/* banner related styles */
.banner-content{
    max-width: 862px;
    margin:0 auto ;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}



/* **********************************************************************Responsive media Quary
****************************************************************** */
/* small device */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
}